<div class="form-container">
  <h3>Login</h3>

  
  <div class="form-login">

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in" %>
    <% end %>

    <% if flash[:login_error] %>
     <p><%= flash[:login_error]%></p>
  <% end %>


    </div>


    <p class="form-login">New user? <%= link_to "Sign up now!", new_user_path %></p>
  
</div>