<div class="show-container">
    
    <h1><%= @artwork.title %></h1>
        <p>
            Artist: <%= @artwork.artist_name %><br>
            Year: <%= @artwork.year %><br>
            Gallery:  <%= @artwork.gallery %><br>
            Medium: <%= @artwork.medium %><br>
            Dimensions: <%= @artwork.dimensions %><br>
            Price: $<%= @artwork.price %><br>
        </p>

        <div class="show-btns">
            <%= button_to "Add to Favorites" , {:controller => 'favorite_artworks', :action => 'create', "favorite_artwork" => {:artwork_id => @artwork.id, :user_id => @current_user.id}}, method: :post, class: "submit-btn-lrg" %>
        </div>
        <div class="show-btns">
            <%= button_to "Review This Artwork", new_artwork_review_path(@artwork), method: :get, class: "submit-btn-lrg" %>
        </div>
        <div class="show-btns">
            <%= button_to "Book A Viewing", new_appointment_path, method: :get, class: "submit-btn-lrg" %>
        </div>

        <div class="show-img">
            <p><img src=<%="#{@artwork.image_url}"%>></p>
        </div>
        
        <h6>Purchases made through viewings only.</h6>
        
        <p><strong>Reviews (<%= @reviews.count %>) <br></strong>
        <% @artwork.reviews.each do |review| %>
            <p>"<%= review.text %>"</p>
            <p>-<%= review.user.first_name %></p>
        <% end %>

        
       
</div>

