<div class="show-container">
    <h1><%= @artwork.title %></h1><br>
    Artist: <%= @artwork.artist_name %>
    <p><img src=<%="#{@artwork.image_url}"%>></p>
    <%=button_to "Review this artwork", new_review_path, method: :get  %>
</div>
<%=  button_to '<' ,{:controller => 'favorite_artworks', :action => 'create', :artwork_id => @artwork.id, :user_id => @current_user.id}, {:method => :post} %>
