<div class="show-container">
    <div class="show-name">
        <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    </div>
    Status: <%= @user.status %><br>
    E-mail: <%= @user.email %>

    <p><%= button_to "Update Profile", edit_user_path, method: :get %></p>

</div>