<div class="show-container">
    <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    <%@user.artworks.each do |artwork| %>
    <h1><%= artwork.title %></h1><br>
    Artist: <%= artwork.artist_name %>
    <p><img src=<%="#{artwork.image_url}"%>></p>
    <% end%>
</div>