<div class="show-container">
    <div class="show-name">
        <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    </div>
    <strong>Status:</strong> <%= @user.status %><br>
    <strong>E-mail:</strong> <%= @user.email %>
    <p>
    <strong>Art Viewing Appointments (<%= @user.appointments.count %>) <br></strong>
    <div class="show-appointment">
        <% @user.sorted_appointments.each do |appointment|%>
            <%= link_to appointment_path(appointment) do %>
                <%= appointment.artwork.title %> - <%= appointment.date.strftime('%B %-d, %Y') %> @ <%= appointment.time.strftime('%l:%M %P')%> <br>
            <% end %>
        <% end %> 

    </div>
    </p>

    <p>
        <div class="show-btns">
            <%= button_to "Update Profile", edit_user_path, method: :get, class: "submit-btn-lrg" %>
        </div>
        <div class="show-btns">
            <%= button_to "Delete Profile", destroy_user_path, method: :delete, class: "submit-btn-lrg" %>
        </div>
    </p>


</div>