<div class="show-container">
    <div class="show-name">
        <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
    </div>
    Status: Collector<br>
    E-mail: <%= @user.email %>
    
    <p>
        Art Viewing History: 

        <ul>
            <% @appointments.each do |appt|%>
                <li>Artwork Title: <%= appt[:artwork] %> (<%= appt[:date] %> @ <%= appt[:time] %>)</li>
            <% end %>
        </ul>       

        
        <% @user.appointments do |appointment| %>
            <%= appointment.artwork.title %>
        <% end %>
    </p>

    <p>
        <div class="show-btns">
            <%= button_to "Update Profile", edit_user_path, method: :get %>
        </div>
        <div class="show-btns">
            <%= button_to "Delete Profile", destroy_user_path, method: :delete %>
        </div>
    </p>


</div>