<%= form_for([@artwork, review]) do |f| %>
  Recommend this artwork?
  <br>
  Yes : <%= f.radio_button :recommend, true %> 
  No : <%= f.radio_button :recommend, false %>
  <p>Please write your review below:<br>
  <%= f.text_area :text, :cols => 100, :rows => 10 %></p>
  <%= f.submit "Post Review", class: "submit-btn"  %> 
<% end %>

<% if flash[:review_errors] %>
  <% flash[:review_errors].each do |error| %>
    <p><em><%= error %>.</em></p>
  <% end %>
<% end  %>

